#canvas {
    display: block;
    background: url("image/background.png") no-repeat  center center;
    background-size: cover;}

/*#loading-overlay {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/

    /*!*display: flex;*!*/
    /*!*justify-content: center;*!*/
    /*!*align-items: center;*!*/
/*}*/

.loading-overlay-hidden {
    display: none !important;
}

#interaction {
    display: flex;
}
#progress {
    width: 25em;
    height: 1em;
    border-radius: 0.25em;
    background-color: gainsboro;

    border: 1px solid grey;

    display: inline-flex;
}

#bar {
    background-color: mediumpurple;
    height: inherit;
    border-radius: inherit;

    width: 5%;
}